#counters>#dailybonus {
    border-top: 1px solid #9ec690;
    font-size: 8.5pt;
    line-height: 13px;
    padding: 8px 0 0 0;
    margin: 4px 0 0 0;
    list-style-type: none;
    white-space: normal;
}
