.pkmn {
    margin: -3px 1px -2px -3px;
    float: left;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    position: relative;
}

.pkmn:before {
    content: '';
    display: block;
    width: 100%;
    height: 40%;
    border-radius: 50%;
    box-sizing: border-box;
    border: solid #9ec690;
    border-width: 1px 3px 5px;
    background-color: #c1d091;
    position: absolute;
    bottom: 0;
}
.pokemon {
    width: 100px;
    height: 100px;
    background-position: center 75%;
    background-repeat: no-repeat;
    position: relative;
}
a.right {
    position: absolute;
    left: 85%;
}
a.only {
  text-align: center;
  margin: 10px auto;
}
.nav {
    display: flex;
}
.nav a {
    margin: 10px auto;
    border: solid #9ec690;
    padding: 16px 12px;
    border-width: 5px;
    background-color: #c1d091;
    cursor: pointer;
}
.nav span {
    position: relative;
    top: -20px;
}
.nav img {
    position: relative;
    top: 10px;
    left: -135px;
    width: 48px;
}
